$accent-color-one: #5cc4b4;
$accent-color-two: #ff9885;
$navigation-background-color: $accent-color-one;
$sub-navigation-background-color: tint($accent-color-one, 50%);
$navigation-active-background-color: $accent-color-two;
$featured-background-color: tint($accent-color-one, 90%);
