.continue-reading {
  text-align: right;
  margin-top: 0.3em;

  &:after {
    content: "»";
  }
}

.home .intro {
  font-size: 2em;
  text-align: center;
  margin: 0 0 2.5em 0;
}

.home .intro:before,
.home .intro:after {
  content: " ";
  display: table;
}

.home .intro:after {
  clear: both;
}

.home .intro img {
  float: left;
  width: 35%;
}

.home .intro p {
  float: left;
  width: 60%;
  margin: 0.4em 5% 0 0;
  text-align: left;
}

.home .featured {
  background: $featured-background-color;
  padding: 2em 0;
}

.home section.services,
.home section.young-people,
.home section.about {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}

.home section.about {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .home .intro img {
    float: none;
    width: 70%;
    margin: 0 0 1em 0;
  }

  .home .intro p {
    float: none;
    text-align: inherit;
    width: 100%;
    margin: 0;
    font-size: 0.75em;
  }

  .home section.services,
  .home section.young-people,
  .home section.about {
    width: 100%;
    margin: 0;
    float: none;
  }
}
