.site-header {
  margin: 2em 0;
  text-align: center;
}

.site-header h1 {
  font: 2.5em "Playfair Display SC" serif;
  margin: 0.5em 0 0.25em 0;
  line-height: 0.9;
  text-align: left;
}

.site-header p {
  font: 2em "Playfair Display SC" serif;
  line-height: 1;
  text-align: left;
  margin-top: 0;
}

.site-header a {
  color: #333;
  text-decoration: none;
}

.site-header nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    border-spacing: 0.2em;
    width: 100%;
  }

  li {
    width: 100% / 7;
    display: table-cell;
    vertical-align: middle;
    background: $navigation-background-color;
  }

  a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.4em 1em;
  }
}

body.home .site-header nav li.home,
body.services .site-header nav li.services,
body.young-people .site-header nav li.young-people,
body.about .site-header nav li.about,
body.appointments .site-header nav li.appointments,
body.resources .site-header nav li.resources,
body.contact .site-header nav li.contact {
  background: $navigation-active-background-color;
}
