.site-main nav {
  margin-top: -2em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    border-spacing: 0.2em;
    width: 100%;
  }

  li {
    width: 100% / 6;
    display: table-cell;
    vertical-align: middle;
    background: $sub-navigation-background-color;
  }

  a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.4em 1em;
    color: #333;
    text-decoration: none;
  }
}

body.paediatrics .site-main nav li.paediatrics,
body.neuropsychology .site-main nav li.neuropsychology,
body.assessments .site-main nav li.assessments,
body.therapies .site-main nav li.therapies,
body.parenting .site-main nav li.parenting,
body.consultation-and-teaching .site-main nav li.consultation-and-teaching {
  background: $navigation-active-background-color;
}
