.site-footer {
  margin: 2em 0 1.5em 0;
  color: #666;
  text-align: left;
}

.site-footer p {
  @include clearfix;
  font-size: 0.8em;
}

.site-footer img {
  float: right;
  height: 6em;
  margin-left: 1em;
}
