.site-main nav {
  background: $sub-navigation-background-color;
  margin-top: -2em;
  margin-bottom: 2em;
  border-bottom: 1px solid $navigation-border-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 -1px 0;
    display: table;
    width: 100%;
  }

  li {
    width: 100% / 6;
    display: table-cell;
    vertical-align: middle;
  }

  a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.4em 1em;
    color: #333;
    text-decoration: none;
  }
}

body.paediatrics .site-main nav li.paediatrics,
body.neuropsychology .site-main nav li.neuropsychology,
body.assessments .site-main nav li.assessments,
body.therapies .site-main nav li.therapies,
body.parenting .site-main nav li.parenting,
body.consultation-and-teaching .site-main nav li.consultation-and-teaching {
  background: $sub-navigation-active-background-color;
  border: 1px solid $sub-navigation-active-border-color;
  border-top: none;
}
