.site-header {
  margin: 2em 0;
  text-align: center;
}

.site-header h1 {
  font: 2.5em "Playfair Display SC" serif;
  margin: 0.5em 0 0.25em 0;
  text-align: left;
}

.site-header p {
  font: 1.5em "Playfair Display SC" serif;
  line-height: 1;
  color: #666;
  text-align: left;
}

.site-header .areas-of-expertise {
  font: 1em "Playfair Display" serif;
  color: #666;
}

.site-header a {
  color: #333;
  text-decoration: none;
}

.site-header nav ul {
  list-style: none;
  margin: 1.5em 0;
  font-size: 1.3em;
  line-height: 2.2em;
  background: #f6f6f6;
}

.site-header nav li {
  display: inline;
  margin: 0 0.5em;
}

@media only screen and (max-width: 800px) {
  .site-header nav ul {
   font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  .site-header nav li {
    display: block;
    margin: 0.5em 0;
  }
}

.site-header nav a:hover,
.site-header nav a:focus {
  text-decoration: underline;
}

.home-page .site-header nav .home a,
.services-page .site-header nav .services a,
.about-page .site-header nav .about a,
.contact-page .site-header nav .contact a {
  text-decoration: underline;
}
