.site-header {
  margin: 2em 0;
  text-align: center;
}

.site-header h1 {
  font: 2.5em "Playfair Display SC" serif;
  margin: 0.5em 0 0.25em 0;
  text-align: left;
}

.site-header p {
  font: 1.5em "Playfair Display SC" serif;
  line-height: 1;
  color: #666;
  text-align: left;
  margin-top: 0;
}

.site-header .areas-of-expertise {
  font: 1em "Playfair Display" serif;
  color: #666;
}

.site-header a {
  color: #333;
  text-decoration: none;
}
