body {
  color: #333;
  font: 1em "Droid Sans" Helvetica Arial sans-serif;
}

p {
  line-height: 1.75;
  margin-bottom: 1em;
}

p + h1,
p + h2,
p + h3 {
  margin-top: 1em;
}

h1,h2,h3 {
  font-family: "Playfair Display" serif;
  font-weight: normal;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

a {
  color: #00B8B8;
}

a.button {
  color: white;
  background: #00B8B8;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.continue-reading {
  text-align: right;
  margin-top: 0.3em;
}

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.site-header {
  margin: 2em 0;
  text-align: center;
}

.site-header h1 {
  font: 2.5em "Playfair Display SC" serif;
  margin: 0.5em 0 0.25em 0;
  text-align: left;
}

.site-header p {
  font: 1.5em "Playfair Display SC" serif;
  line-height: 1;
  color: #666;
  text-align: left;
}

.site-header .areas-of-expertise {
  font: 1em "Playfair Display" serif;
  color: #666;
}

.site-header a {
  color: #333;
  text-decoration: none;
}

.site-header nav ul {
  list-style: none;
  margin: 1.5em 0;
  font-size: 1.3em;
  line-height: 2.2em;
  background: #f6f6f6;
}

.site-header nav li {
  display: inline;
  margin: 0 0.5em;
}

@media only screen and (max-width: 800px) {
  .site-header nav ul {
   font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) {
  .site-header nav li {
    display: block;
    margin: 0.5em 0;
  }
}

.site-header nav a:hover,
.site-header nav a:focus {
  text-decoration: underline;
}

.home-page .site-header nav .home a,
.services-page .site-header nav .services a,
.about-page .site-header nav .about a,
.contact-page .site-header nav .contact a {
  text-decoration: underline;
}

.page-content:before,
.page-content:after {
  content: " ";
  display: table;
}

.page-content:after {
  clear: both;
}

.site-footer {
  margin: 4em 0 1em 0;
  font-size: 0.8em;
  color: #666;
  text-align: center;
}

.home-page .intro {
  font: 2em "Playfair Display" serif;
  text-align: center;
  margin: 1em 0 2.5em 0;
}

.home-page .intro:before,
.home-page .intro:after {
  content: " ";
  display: table;
}

.home-page .intro:after {
  clear: both;
}

.home-page .intro img {
  float: left;
  width: 25%;
}

.home-page .intro p {
  float: left;
  width: 70%;
  margin: 0.4em 0 0 5%;
  text-align: left;
}

.home-page section.services,
.home-page section.about,
.home-page section.contact {
  width: 30%;
  margin: 0 5% 0 0;
  float: left;
}

.home-page section.contact {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .home-page .intro img {
    float: none;
    width: 70%;
    margin: 0 0 1em 0;
  }

  .home-page .intro p {
    float: none;
    text-align: inherit;
    width: 100%;
    margin: 0;
    font-size: 0.75em;
  }

  .home-page section.services,
  .home-page section.about,
  .home-page section.contact {
    width: 100%;
    margin: 0;
    float: none;
  }
}
