<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body class="{{ page.body_class }}">
<header class="site-header">
  <div class="wrapper">
    <a href="/">
      <h1>Dr Susanna Waern</h1>
      <p>Clinical Psychologist</p>
    </a>
    <nav>
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="services"><a href="/services">Services</a></li>
        <li class="young-people"><a href="/information-for-young-people">Information for Young People</a></li>
        <li class="about"><a href="/about">About</a></li>
        <li class="appointments"><a href="/appointments-and-fees">Appointments and Fees</a></li>
        <li class="resources"><a href="/resources-and-links">Resources and links</a></li>
        <li class="contact"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="site-main">
  {{ content }}
</div>

<footer class="site-footer">
  <div class="wrapper">
    <p>
    {{ site.address }}.
    <a href="tel:{{ site.phone }}">Call {{ site.phone }}</a> or email
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
    </p>
  </div>
</footer>
</body>
</html>
