<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>

<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body class="{{ page.body_class }}">
<header class="site-header">
  <div class="wrapper">
    <a href="/" class="logo">
      <h1>Dr Susanna Waern</h1>
      <p>Clinical Psychologist</p>
    </a>
  </div>
  <nav>
    <div class="wrapper">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="services"><a href="/services/assessments">Services</a></li>
        <li class="young-people"><a href="/information-for-young-people">Information for Young&nbsp;People</a></li>
        <li class="about"><a href="/about">About Dr&nbsp;Susanna&nbsp;Waern</a></li>
        <li class="appointments"><a href="/appointments-and-fees">Appointments and&nbsp;Fees</a></li>
        <li class="resources"><a href="/resources-and-links">Resources and&nbsp;Links</a></li>
        <li class="contact"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="site-main">
  {{ content }}
</div>

<footer class="site-footer">
  <div class="wrapper">
    <p>
    {{ site.name }} |
    <a href="tel:{{ site.phone }}">{{ site.phone }}</a> |
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    <a href="http://www.hpc-uk.org"><img src="/images/hcpc.jpg" alt="HCPC Registered"></a>
    <a href="http://www.bps.org.uk"><img src="/images/bps.jpg" alt="BPC Chartered Psychologist"></a>
    </p>
  </div>
</footer>
</body>
</html>
